<div class="row">
    <div class="col-md-4">
        <!-- PARRAHUALLO CARD -->
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="../../../assets/images/inspector_emma_ngs.jpeg" height="100" width="100" /></button> 
                    <span class="name mt-3">Emmanuel Cruz Chavero</span>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                        <span class="number">87M <span class="follow">Followers</span></span>
                    </div>
                    <div class="text mt-3"> 
                        <span>Emmanuel is a software dev<br> </span> 
                    </div>
                    <div class="text mt-3"> 
                        <span>Estudiante de la ingeniería en Desarrollo y Gestión de Software en la Universidad Tecnológica de San Juan del Rio<br> </span> 
                    </div>
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                    <div class=" px-2 rounded mt-4 date "> <span class="join">DS02SV-21</span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- VAN HELSING CARD -->
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary">
                        <img src="../../../assets/images/inspector_gabo_pps.jpeg" height="100" width="100" />
                    </button> 
                    <span class="name mt-3">Edgar Gabriel Arteaga</span>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                        <span class="number">69M <span class="follow">Followers</span></span>
                    </div>
                    <div class="text mt-3"> 
                        <span>Edgar is the product owner<br></span> 
                    </div>
                    <div class="text mt-3"> 
                        <span>Estudiante de la ingeniería en Desarrollo y Gestión de Software en la Universidad Tecnológica de San Juan del Rio<br></span> 
                    </div>
        
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span>
                    </div>
                    <div class=" px-2 rounded mt-4 date ">
                        <span class="join">DS02SV-21</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- HOMELESS CARD -->
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="../../../assets/images/inspector_egan_bbs.jpeg" height="100" width="100" /></button> <span class="name mt-3">Egan Alexis Dueñas</span>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">117M <span class="follow">Followers</span></span>
                    </div>
                    <div class="text mt-3"> <span>Egan is the web designer<br> </span> </div>
                    <div class="text mt-3"> <span>Estudiante de la ingeniería en Desarrollo y Gestión de Software en la Universidad Tecnológica de San Juan del Rio<br> </span> </div>
        
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                    <div class=" px-2 rounded mt-4 date "> <span class="join">DS02SV-21</span> </div>
                </div>
            </div>
        </div></div>
</div>